#pagetitle{
    text-align: center;
    font-family: 'Courier New', monospace;
}

.pyramid{
    width: 75%;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;

    /* Use clip path to create pyramid shape */
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.counter{
    display: inline-block;
    margin: 0 auto;
    
    /* Add padding to top and bottom of layers to preserve shape of triangle */
    padding-top: 30px;
    padding-bottom: 30px;

    font-family: 'Courier New', monospace;
}

#pyramid-level-1{
    background: rgb(255, 55, 55);

    /* Add gap between layer */
    margin-bottom: 10px;

    /* Move content down so it is not clipping with the top of the pyramid */
    padding-top:40px;


}

#pyramid-level-2{
    background: rgb(255, 83, 20);

    /* Add gap between layer */
    margin-bottom: 10px; 

 
}

#pyramid-level-3 {
    background: orange;

}

#pyramid-level-4 {
    background: rgb(61, 200, 255);


}

#pyramid-level-5 {
    background: rgb(201, 255, 93);


}

#pyramid-level-6 {
    background: rgb(173, 83, 41);


}

.butts {
    background-color: white;
    color: darkslategrey;
    border: none;
    text-align: center;
    padding: 3px 6px;
    border-radius: 5px;
    transition-duration: 0.4s;
    margin: auto;
    display: none;
    width: 20px;
    font-family: 'Courier New', monospace;
}

.butts:hover {
    background-color: gray;
    color: white;
}

/* Display buttons when hovering over the section of the pyramid */
.plevel:hover .butts{
    display: inline-block;
}

.number{
    margin: auto;
    width: 10px;
    text-align: center;
    border-radius: 5px;
    border: solid;
    border-color: red;
    padding: 3px 6px;
    background-color: white;
    display: inline-block;
}

.inputfields{     
    width: 100%;
    margin: auto;
    padding: 30px;
    font-family: 'Courier New', monospace;
    text-align: center;
}

.submitbutton{
    background-color: white;
    color: black;
    border: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 5px;
    text-align: center;
    padding: 3px 6px;
    transition-duration: 0.4s;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Courier New', monospace;
}

.submitbutton:hover {
    background-color: gray;
    color: white;
}

